body {
    background-color: #7fffd4;
}

p {
    font-weight: normal;
}

.expand {
    display: none;
}

#displaySearchList {
    display: flex;
    flex-flow: row nowrap;
    
    justify-content: space-between;
}

#searchTitle {
    font-weight: bolder;
    flex-grow: 2;
    
}

#searchAuthor, #searchLineCount, #searchIndex {
    font-weight: bolder;
    flex-grow: 1;
    
}